{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script>
        $(document).ready(function(){
            $('#{{current_path}}').toggleClass('nav-item nav-item active')
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ani-Cat</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'carousel.css' %}" />

  <style>
    .menutest{
      border-left: 3px solid grey;
      height: auto;
    }
  </style>
  </head>
  <body>

  <!--==========The modal ===============-->
    <div class="modal fade" id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <!--
    <div class="modal-header">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="modalLabelLarge"> Register / Login</h4>

    </div>
    -->
    <!--TOP OF FORMS-->
    <div class="topoftheworld col-sm-1">
    </div>
    <!--END OF TOP OF FORMS-->

    <div class="modal-body row">
      <!--Large shoes are usually avoided by people with small feet.-->
      <div class="stuff col-sm-1">
      </div>
      <div class="divde1 col-sm-4">
      <h2>Register</h2>
      {% crispy registrationform %}
      </div>
      <div class="menutest2 col-sm-1">
            </div>
            <div class="menutest col-sm-1">
            </div>
      <div class="divide2 col-sm-4">
      <h2>Login</h2>
      {% crispy form %}
      </div>
    </div>

    <!--Bot OF FORMS-->
    <div class="topoftheworld col-sm-1">
    </div>
    <!--END OF bot OF FORMS-->


    </div>
    </div>
    </div>
    <!--==========End of Modal=============-->

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Ani-Cat</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        {% for id, path in dic.items%}
            {%if id == current_path %}
            <li class="nav-item active">
            {%else%}
            <li class="nav-item">
            {%endif%}
            <a class="nav-link" href='{{path}}'>{{id}}</a>
            {%endfor%}
        </ul>

        {% if user.is_authenticated %}
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary my-2">{{ user.username }}</button>
                <button type="button" class="btn btn-outline-primary mr-2 my-2 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="{% url 'index' %}">Friends</a>
                  <a class="dropdown-item" href="#">Clubs</a>
                  <form method='POST' action='logout/'> {% csrf_token %} <input type='submit' name='Logout' value='Logout' class="dropdown-item"></form>

                  <!--<div class="dropdown-divider"></div>-->
                  <!--<a class="dropdown-item" href="#">Separated link</a>-->
                </div>
            </div>
            <form method='POST' action='logout/'> {% csrf_token %} <input type='submit' name='Logout' value='Logout' class="btn btn-outline-primary mr-2 my-2"></form>
        {% else %}
            <button type="button" class="btn btn-outline-primary mr-2 my-2" data-toggle="modal" data-target="#largeShoes">
              Login
            </button>
        {% endif %}
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    </li>

    <!--Start of the test text -->
  {% block content %}

  {% endblock content %}
     <!--End of Test Text -->

<!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Ani-Cat, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
    <script>
        $('[id=button-id-cancel]').click(function() {
            $('#largeShoes').modal('hide');
            $('#new_user_form').trigger('reset');
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{%static "main.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
